[submodule "sys/modules/drm-kmod"]
	path = sys/modules/drm-kmod
	url = https://github.com/unrelentingtech/drm-kmod
[submodule "sys/modules/kms-firmware"]
	path = sys/modules/kms-firmware
	url = https://github.com/FreeBSDDesktop/kms-firmware
[submodule "contrib/libretls"]
	path = contrib/libretls
	url = https://git.causal.agency/libretls
[submodule "contrib/doas"]
	path = contrib/doas
	url = https://github.com/slicer69/doas
