[submodule "sys/modules/drm-kmod"]
	path = sys/modules/drm-kmod
	url = https://github.com/unrelentingtech/drm-kmod
[submodule "sys/modules/kms-firmware"]
	path = sys/modules/kms-firmware
	url = https://github.com/FreeBSDDesktop/kms-firmware
[submodule "contrib/libretls"]
	path = contrib/libretls
	url = https://git.causal.agency/libretls
[submodule "contrib/doas"]
	path = contrib/doas
	url = https://github.com/slicer69/doas
[submodule "contrib/dhcpcd"]
	path = contrib/dhcpcd
	url = https://github.com/NetworkConfiguration/dhcpcd
[submodule "contrib/runit"]
	path = contrib/runit
	url = https://github.com/madscientist42/runit
[submodule "contrib/zlib-ng"]
	path = contrib/zlib-ng
	url = https://github.com/zlib-ng/zlib-ng
[submodule "contrib/libffi"]
	path = contrib/libffi
	url = https://github.com/libffi/libffi
[submodule "contrib/lz4"]
	path = contrib/lz4
	url = https://github.com/lz4/lz4
[submodule "contrib/libpciaccess"]
	path = contrib/libpciaccess
	url = https://gitlab.freedesktop.org/xorg/lib/libpciaccess.git
[submodule "contrib/pciids"]
	path = contrib/pciids
	url = https://github.com/pciutils/pciids
