# $FreeBSD$
#
# Please see the file src/etc/mtree/README before making changes to this file.
#

/set type=dir uname=root gname=wheel mode=0755
.
    bin             type=link link=usr/bin
    boot
        defaults
        ..
        dtb
            allwinner             tags=package=runtime
            ..
            overlays              tags=package=runtime
            ..
            rockchip              tags=package=runtime
            ..
        ..
        efi
        ..
        firmware
        ..
        loader.conf.d             tags=package=bootloader
        ..
        lua
        ..
        kernel
        ..
        modules
        ..
        uboot
        ..
        zfs
        ..
    ..
    compat
        linux
            proc
            ..
            sys
            ..
        ..
    ..
    dev             mode=0555
    ..
    etc
        authpf
        ..
        autofs
        ..
        bluetooth
        ..
        cron.d
        ..
        defaults
        ..
        devd
        ..
        dma
        ..
        gss
        ..
        kyua             tags=package=tests
        ..
        mail
        ..
        mtree
        ..
        pam.d
        ..
        pkg
        ..
        ppp
        ..
        run
        ..
        runit
        ..
        security
        ..
        ssh
        ..
        ssl
        ..
        syslog.d
        ..
        zfs             type=link link=../var/run/zfs
    ..
    home
    ..
    lib
        casper
        ..
        geom
        ..
        nvmecontrol
        ..
    ..
    libexec
        resolvconf
        ..
    ..
    media           type=link link=var/run/media
    mnt             type=link link=var/run/mnt
    net             type=link link=var/run/net
    opt
    ..
    persist
    ..
    proc            mode=0555
    ..
    root            mode=0750
    ..
    sbin            type=link link=usr/sbin
    service         type=link link=var/run/it
    tmp             mode=01777
    ..
    usr
    ..
    var
    ..
..
